<nav class="navbar navbar-expand navbar-dark osahan-nav-top p-0 fixed-top" style="background: transparent;">
    <div class="container">
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="/home"><i class="feather-briefcase mr-2"></i><span
                        class="d-none d-lg-inline">首页</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/person"><i class="feather-briefcase mr-2"></i><span
                        class="d-none d-lg-inline">新增</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/render/collect"><i class="feather-briefcase mr-2"></i><span
                        class="d-none d-lg-inline">专栏</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/render/state"><i class="feather-users mr-2"></i><span
                        class="d-none d-lg-inline">动态</span></a>
            </li>
            <button type="button" class="layui-btn layui-btn-radius"><a href="/render/collect/write"
                    style="color:#fff">写文章</a></button>
        </ul>
    </div>
</nav>