<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    {{> meta}}
</head>

<body>
    {{> header}}
    <div class="article-container layui-row">
        <div class="article-container-left layui-col-md8 layui-anim" data-anim="layui-anim-upbit">
            <div class="article-container-inner">
                <div id="MD" class="markdown-body"></div>
                <fieldset class="layui-elem-field layui-field-title"
                    style="margin-top: 50px;margin-bottom:30px;text-align: center;">
                    <legend>评论</legend>
                </fieldset>
                <div id="Editor" class="editor-arae"></div>
                <button style="margin-top: 20px;margin-bottom:20px;" type="button" class="layui-btn">发布评论</button>
            </div>

        </div>
        <div class="article-container-right layui-col-md4 layui-anim-upbit">
            <div class="quick">
            </div>
        </div>
    </div>
    <div id="hiddenText" class="hidden" style="display: none;">
        {{html}}
    </div>
    {{> script}}
    <script>
        init();
        function init() {
            window.onscroll = function () {
                var top = document.documentElement.scrollTop;

                if (top > 40) {
                    $(".quick").addClass("fix-300")
                } else {
                    $(".quick").removeClass("fix-300")
                }

            }
            insertText()
            createEditor()
            quickLink()
        }

        function insertText() {
            let html = document.getElementById("hiddenText").innerText || "";
            document.getElementById("MD").innerHTML = html;
            document.querySelector
        }

        function createEditor() {
            var E = window.wangEditor
            var editor = new E('#Editor')
            editor.customConfig.menus = [
                'head',  // 标题
                'bold',  // 粗体
                'fontSize',  // 字号
                'fontName',  // 字体
                'italic',  // 斜体
                'underline',  // 下划线
                'strikeThrough',  // 删除线
                'foreColor',  // 文字颜色
                'backColor',  // 背景颜色
                'link',  // 插入链接
                'list',  // 列表
                'justify',  // 对齐方式
            ]
            editor.create()
        }

        function quickLink() {
            var i;
            for (i = 0; i <= 6; i++) {
                $(".markdown-body " + "h" + i).append(function () {
                    return "<a data-quick data-level='" + i + "' name='" + $(this).text() + "'></a>"
                })
            }

            $("[data-quick]").each(function (index, element) {
                var name = element.getAttribute("name")
                var level = element.getAttribute("data-level")
                if (name && name !== "") {
                    $(".quick").append("<li style='margin-left:" + level * 10 + "px'><a href='#" + name + "'>" + name + "</a></li>")
                }
            })
        }

    </script>

</html>