<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>登录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/public/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/public/styles/index.css" media="all">
    <link rel="stylesheet" href="/public/styles/common.css" media="all">
    <link rel="stylesheet" href="/public/styles/collect.css" media="all">
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        {{> header}}

        <div class="create-container layui-row bg-white con">
            <div class="container-right">
                <div class="form-content layui-anim layui-anim-fadein">
                    <button type="button" class="layui-btn layui-btn-lg layui-btn-normal login-btn">Github</button>
                </div>
            </div>
        </div>
    </div>
    {{> script}}
    <script>

        var deafault = {}

        init();

        function init() {

        }

        function login() {
            $(".login-btn").click(function () {
                var CLIENT_ID = "Iv1.59ce08097886630e";
                var REDIRECT_URL = "e0272412365d8f63e5468c78a3306e1b2fb8da33";
                var url = "https://github.com/login/oauth/authorize?client_id=" + CLIENT_ID + `&client_secret=${REDIRECT_URL}`;
                window.location.href = url;
            })
        }

        function createUpload() {
            layui.use('upload', function () {
                var $ = layui.jquery
                    , upload = layui.upload;

                //拖拽上传
                upload.render({
                    elem: '#test10',
                    url: '/api/upload/',
                    done: function (res) {
                        console.log(res)
                    }
                });
            });
        }

        function createForm() {
            layui.use('form', function () {
                var form = layui.form;

                form.on('submit(submitBtn)', function (e) {
                    var newData = Object.assign({}, e.field)

                    axios({
                        method: 'post',
                        url: '/collect/create',
                        data: newData,
                    }).then(function (response) {
                        layer.msg('创建成功');
                    }).catch(function (error) {
                        layer.msg("创建失败");
                    });
                    return false;
                });
            });
        }
    </script>

</html>