<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>新建文章</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/public/layui/css/layui.css">
    <link rel="stylesheet" href="/public/simpleMDE/simplemde.min.css">
    <link rel="stylesheet" href="/public/styles/github-markdown.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
    <link rel="stylesheet" href="/public/styles/index.css">
    <link rel="stylesheet" href="/public/styles/write.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

</head>

<body>
    <div class="layui-layout layui-layout-admin">
        {{> header}}
        <div class="layui-row markdown-container">
            {{!-- 新建文集 --}}
            <div class=" layui-col-lg2 collect-list">
                <div class="list-header">
                    <button type="button" class="layui-btn  layui-btn-fluid"><a href="/"
                            style="color:#fff">回到首页</a></button>
                </div>
                <div class="layui-collapse" lay-filter="collect-collapse">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">新增文集</h2>
                        <div class="layui-colla-content">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <input type="text" name="collectName" required lay-verify="required"
                                        placeholder="请输入文集名称" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn" lay-submit lay-filter="submitCollect">提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary cancel-btn">取消</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="layui-nav layui-nav-tree each-collect" lay-filter="test">
                    {{#each allCollects}}
                    <li class="layui-nav-item">
                        <a href="javascript:;"><i class="layui-icon layui-icon-edit"></i> {{collectName}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{!-- 新建文章 --}}
            <div class="layui-col-lg2  article-list">
                <div class="list-header">
                    <button type="button"
                        class="layui-btn layui-btn-primary layui-btn-radius  layui-btn-fluid">新增文章</button>
                </div>
                <ul>
                    <li>
                        <span>今天是个好日在</span><i class="layui-icon layui-icon-set"></i>
                    </li>
                </ul>
                <div class="list-footer">
                    <button type="button"
                        class="layui-btn layui-btn-primary layui-btn-radius layui-btn-fluid">在底部新增文章</button>
                </div>
            </div>
            {{!-- 编辑markdown --}}
            <div class="layui-col-lg8 markdown-area">
                <div class="inner-markdown-area">
                    <textarea name="MyID" id="MyID" cols="30" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/layui/layui.js"></script>
    <script src="/public/simpleMDE/simplemde.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script>
        window.onload = function () {
            init();
        }

        function init() {
            addLayui();

            var mdInstance = addMarkdown();
            addHandleEvent(mdInstance);
        }

        function addLayui() {
            // 注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
            layui.use('element', function () {
                var element = layui.element;

                document.querySelector(".cancel-btn").addEventListener('click', function (e) {
                    document.querySelector(".layui-colla-title").click()
                }, false)
            });
        }

        function addMarkdown() {
            var simplemde = new SimpleMDE({
                autofocus: true,
                autosave: {
                    enabled: true,
                    uniqueId: "MyUniqueID",
                    delay: 1000,
                },
                element: document.getElementById("MyID"),
                placeholder: "Type here...",
                renderingConfig: {
                    codeSyntaxHighlighting: true
                }
            });

            return simplemde;

            // console.log(simplemde.value())
            // console.log(simplemde.markdown(simplemde.value()))
        }

        function addHandleEvent(md) {
            layui.use('form', function () {
                var form = layui.form;

                form.on('submit(FormOne)', function (data) {
                    var newData = Object.assign({}, data.field, {
                        markdown: md.value(),
                        html: md.markdown(md.value())
                    })

                    axios({
                        method: 'post',
                        url: '/write/create',
                        data: newData,
                    }).then(function (response) {
                        layer.msg('创建成功');
                    }).catch(function (error) {
                        layer.msg("创建失败");
                    });

                    return false;
                });


                form.on('submit(submitCollect)', function (data) {
                    var newData = Object.assign({}, data.field, {
                        description: '',
                        collectTags: ''
                    })

                    axios({
                        method: 'post',
                        url: '/collect/create',
                        data: newData,
                    }).then(function (response) {
                        layer.msg(response.data.message);
                        var result = response.data.data
                        window.timers = setTimeout(() => {
                            document.querySelector(".layui-colla-title").click();
                            clearTimeout(window.timer);
                        }, 400);

                        $(".each-collect").append("<li class='layui-nav-item' ><a href = 'javascript:;' ><i class='layui-icon layui-icon-edit'></i> " + result.collectName + "</a ></li>")
                    }).catch(function (error) {
                        layer.msg("创建失败");
                    });

                    return false;
                });
            });
        }
    </script>

</html>