.article-container {
  padding-top: 70px;
  background: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.article-container-left {
  flex: 0 0 700px;
}
.article-container-right {
  flex: 0 0 300px;
}

.article-container-left .article-container-inner {
  padding: 20px 10px;
  background: #fff;
}

.article-container-right .quick {
  min-height: 300px;
  max-height: calc(100vh - 90px);
  padding: 10px;
  overflow-y: auto;
}

.article-container-right .quick > li {
  min-height: 30px;
  line-height: 30px;
  color: #666;
  list-style: disc;
}

.container-header {
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #808080;
}
.container-header .title {
  flex: 0 0 40px;
  width: 100%;
  text-shadow: 0 0 40px black;
  font-size: 36px;
  color: #fff;
  text-align: center;
}

.fix-300 {
  position: fixed;
  z-index: 9999;
  top: 55px;
}
