body {
  background-color: #f2f2f2;
}

.layui-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  border-radius: 0;
}

.container {
  padding-bottom: 50px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 130px;
}

.state-container {
  position: relative;
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  margin-top: 70px;
  padding: 20px;
  padding-bottom: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.state-container .layui-timeline-content {
  cursor: pointer;
}

.layui-timeline-item .layui-btn {
  display: none;
  margin-left: 20px;
}

.show-btn .layui-btn {
  display: inline-block;
}

.container-left {
  box-sizing: border-box;
  padding: 5px 10px;
}

.container-right {
  box-sizing: border-box;
  padding: 5px 10px;
}

.container-left .container-inner {
  background: #fff;
}

.form-content {
  padding: 20px;
}

.article-container {
  padding-top: 70px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.article-lists .article-item {
  position: relative;
  height: 45px;
  line-height: 22px;
  padding: 15px 15px 15px 75px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
}

.article-item img {
  position: absolute;
  left: 15px;
  top: 15px;
  display: block;
  width: 45px;
  height: 45px;
  margin: 0;
  border-radius: 2px;
}
.article-item .layer1 {
  height: 25px;
  line-height: 25px;
}

.article-item .layer1 .title {
  float: left;
  max-width: 80%;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}

.article-item .layer1 .time {
  float: left;
  margin-left: 12px;
  font-size: 13px;
  color: #999;
}

.article-item .layer1 .tags {
  float: right;
}

.article-item .layer1 a {
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
}

.article-item .layer2 {
  height: 20px;
  line-height: 20px;
}

.article-item .layer2 a {
  display: inline-block;
  max-width: 80%;
  padding-right: 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
}

.article-lists .layui-card-body {
  height: 100px;
  overflow: hidden;
}

.panel {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  height: 50px;
  line-height: 50px;
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 2;
  width: 100%;
  height: 60px;
  border-radius: 0;
}

.panel-title {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  border-bottom: 1px dotted #e9e9e9;
  color: #333;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
}

.list-one {
  margin-bottom: 15px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.list-one .title {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  border-bottom: 1px dotted #e9e9e9;
  color: #333;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  margin-bottom: 5px;
}

.list-one a {
  display: inline-block;
  width: 100%;
  margin: 0 15px;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  list-style: decimal-leading-zero inside;
  color: #009e94;
  cursor: pointer;
}
.list-two {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.list-two .article-item {
  padding: 3px;
}

.list-two .title {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  border-bottom: 1px dotted #e9e9e9;
  color: #333;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  margin-bottom: 5px;
}
.list-two .tags {
  padding: 10px 15px;
}

.list-two a {
  display: inline-block;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  list-style: decimal-leading-zero inside;
  color: #009e94;
  cursor: pointer;
}
