body {
  background-color: #f9f9f9;
}

.container {
  padding-top: 20px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.container-left {
  width: 200px;
  background-color: #393d49;
}

.container .container-right {
  width: 790px;
  margin-left: 10px;
}

.markdown-container {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  z-index: 1001;
}

.markdown-container .container-right {
  width: 790px;
  margin-left: 10px;
  background: #fff;
  padding: 15px;
}

.markdown-form {
  flex: 0 0 400px;
  padding: 0 10px 0 0;
}
.markdown-area {
  flex: 1;
  z-index: 1001;
}

.article-container {
  padding-top: 20px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.article-container .container-right {
  width: 790px;
  margin-left: 10px;
  background: #fff;
  padding: 15px;
}

.article-lists {
  padding: 0 10px 10px 0;
}
.article-lists .layui-card-body {
  height: 100px;
  overflow: hidden;
}
